// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

.page-enter-active,
.page-leave-active {
    transition: opacity 0.3s;
}
.page-enter,
.page-leave-active {
    opacity: 0;
}

// fixed v-bottom-navigation ui bug
.v-item-group.v-bottom-navigation .v-btn.v-size--default {
    height: inherit;
}

.container-scroll-standard {
    height: calc(100vh - 120px); //header 48   footer 56  = 104
}
.container-scroll-with-tabs {
    height: calc(100vh - 168px); // header + footer + tabs
}
